<h1> <CENTER>ABOUT US</CENTER></h1>
<div class="container-fluid">
         <div class="row">
   <h1> <CENTER>WELCOME TO KIPTUIKIPKEMEI & CO. ADVOCATES</CENTER></h1>
 <p class="homeparagraph"> KiptuiKipkemei & Company Advocates is a top-tier full service commercial law firm based in Nairobi,
 Kenya.  
 Since its establishment, the firm stands out from the crowd and is widely recognized as Kenya's premier commercial law firm.  
 The firm is well known for its expertise in commercial transactional work as well as in conveyancing, complex litigation and
 arbitration. </p>
 
<hr class="style18">

<p  class="homeparagraph">We are a firm predominantly engaged in Conveyancing. The firm has set the standard for excellence 
in legal services in Kenya. 
The firm is committed to excellence in every aspect of law that we practice.  The firm has been involved in some of
the most high-profile and ground breaking transactions in Kenya and continues to be a part of major transactions in 
the field of conveyancing law.  We have a large array of collective expertise in handling sophisticated transactions.</p>

<hr class="style18">

<p  class="homeparagraph">We offer professional services primarily to foreign companies and international 
institutions as well as individual clients.  Our objective is to provide 
comprehensive legal services to foreign companies and business entities in the area of conveyancing and 
business laws in Kenya.  We advise on the matters arising under Kenyan laws and regulations as well as on
international matters that touch and interact with kenyan laws and regulations. </p>

<hr class="style18">
</div>