

<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".fa-plus").click(function(){
        $(".tobefaded").fadeToggle();
    });
});
</script>
</head>
<body>

<h2>This is a heading</h2>
<p >CONVEYANCING   <i class="fa fa-plus" aria-hidden="true" ></i></p>
<p class="tobefaded">This is a paragraph.</p>
<p class="tobefaded">This is another paragraph.</p>



</body>
</html>


<h1> <CENTER>CONTACT US</CENTER></h1>

